label.error{
    color:red;
    font-weight: normal;
}
input.error{
    background-color: #fff0f4;
    border: 1px solid red;
}
select.error{
    background-color: #fff0f4;
    border: 1px solid red;
}

.swal2-popup {
    font-size: 1.4rem !important;
}
body{
    font-size: 1.6em;
}
.loading{
    width: 80px;
}
